* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formhead{
    
    text-align: left;
    width: 778px;
    height: 598px;
    background-color: white;
    position: absolute;
    top: 16%;
    left: 31%;
    padding: 25px;
}
body{
    background-color: rgb(130, 130, 236);
}

.field {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-size: 16px; 
  }
  .field:focus {
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff; 
  }
  label{
    font-family: cursive;
    
  }

  .btn{
    background-color: #007bff; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    
    font-weight: bold; 
    width: 170px
  }
  
  
  .btn.hover {
    background-color: #0056b3; 
  }
  
