body {
  background: #cac6c6;
}

.main {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 37%;
  padding: 2%;
  font-family: cursive;
  border-radius: 155px;
  border: 2px solid black
}

.btn {
  padding: 12px 20px;
  background-color: rgb(202, 63, 236);
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 21px;
  text-transform: uppercase;
  cursor: pointer;

}

.btn:hover {
  background-color: #41dbe6;
}