
form {
    background: rgb(141, 172, 238);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}



label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type='text'] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 14px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
    color: #333;
}
