body{
    background: rgb(255, 191, 201);
}



.main{
    background-color: #73d8e6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 1=vh;
    width:  400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
        
}


