body {
 background-color: rgb(255, 191, 201);
}

.maincount{
  text-align: center;
  position: absolute;
  top: 32%;
  left: 35%;
  padding: 5%;
  font-family: cursive;
}

.btnname {
 padding: 12px 20px;
 background-color: rgb(255, 191, 201);
 color: white;
 border: 2px solid #ecf0f1;
 outline: none;
 border-radius: 5px;
 text-transform: uppercase;
 cursor: pointer;

}

.btnname:hover {
  background-color: #41dbe6;
}
